<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>FeeManagement</display-name>
	<filter>
		<description>
		</description>
		<display-name>AdminFilter</display-name>
		<filter-name>AdminFilter</filter-name>
		<filter-class>AdminFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>AccountantFilter</display-name>
		<filter-name>AccountantFilter</filter-name>
		<filter-class>AccountantFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<url-pattern>/AdminFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<servlet-name>Admin</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AccountantFilter</filter-name>
		<url-pattern>/AccountantFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AccountantFilter</filter-name>
		<servlet-name>Accountant</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>Accountant</display-name>
		<servlet-name>Accountant</servlet-name>
		<servlet-class>Accountant</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddAccountant</display-name>
		<servlet-name>AddAccountant</servlet-name>
		<servlet-class>AddAccountant</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddStudent</display-name>
		<servlet-name>AddStudent</servlet-name>
		<servlet-class>AddStudent</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Admin</display-name>
		<servlet-name>Admin</servlet-name>
		<servlet-class>Admin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteAccountant</display-name>
		<servlet-name>DeleteAccountant</servlet-name>
		<servlet-class>DeleteAccountant</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewStudent</display-name>
		<servlet-name>ViewStudent</servlet-name>
		<servlet-class>ViewStudent</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EditStudent</display-name>
		<servlet-name>EditStudent</servlet-name>
		<servlet-class>EditStudent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Accountant</servlet-name>
		<url-pattern>/Accountant</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddAccountant</servlet-name>
		<url-pattern>/AddAccountant</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddStudent</servlet-name>
		<url-pattern>/AddStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>/Admin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteAccountant</servlet-name>
		<url-pattern>/DeleteAccountant</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewStudent</servlet-name>
		<url-pattern>/ViewStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditStudent</servlet-name>
		<url-pattern>/EditStudent</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
